<!DOCTYPE html>
<html lang="en">
<head>
{{>headerlinks}}
</head>
<body>
    <section class="sub-header1">
      {{>navbar2}}
        <div class="txtsub-container">
            <h1 class="h-primary center">--ABOUT US--</h1>
            <div class="main1">
                <h1><span class="auto-input"></span></h1>
            </div>
        </div>
    </section>
    <section class="about">
        <p class="para1 center"> <span class="start">THE AMAZON CONSTRUCTION</span> is an Engineering and Construction Company Located in Tumakuru, Karnataka. We are working in Engineering, Structural and Construction Services
            with valuable identity by giving services for 100+ Clients within short period. Since from the day one, we
            are committed to give the best services for our clients. <br>
            Our team has best Engineers dealing with construction project in every stage by their Skills, Experience,
            Knowledge and Creativity. We have been through many projects by providing both Engineering Services and
            Construction .</p>
        <hr>
        <div class="thumb">
            <h3 class="gap center">----Founder----</h3>
            <img src="images/founder1.png" alt="CEO">
        </div>
        <div class="founder">
            <p class="ceo center">YASEEN PASHA</p>
            <p class="ceopara center">Managing Director and</p>
            <p class="ceopara center">Founder of The Amazon Construction</p>
        </div>
    </section>
    {{>footer}}
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <script>
        var typed = new Typed(".auto-input", { strings: ["We Are Expert in This Engineering Services Since 2021."], typeSpeed: 100, backSpeed: 100, loop: true })
    </script>
<script src="javascript/resp.js"></script>
</body>

</html>