<footer>
        <div class="footer center">
            Created By <a class="footname" href="https://yaseenpasha.com" target="_blank">Yaseen</a> Copyright &copy; 2024 yaseenpasha.com All rights reserved
        </div>
</footer>